{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "sgbf.fullname" . }}
  labels:
    {{- include "sgbf.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: {{ .Values.ingress.paths.api.path }}
            pathType: {{ .Values.ingress.paths.api.pathType }}
            backend:
              service:
                name: {{ include "sgbf.fullname" . }}-{{ .Values.api.name }}
                port:
                  number: {{ .Values.api.service.port }}
          - path: {{ .Values.ingress.paths.frontend.path }}
            pathType: {{ .Values.ingress.paths.frontend.pathType }}
            backend:
              service:
                name: {{ include "sgbf.fullname" . }}-{{ .Values.frontend.name }}
                port:
                  number: {{ .Values.frontend.service.port }}
{{- end }}
